.navigation-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
    background-color: #f5f5f5;
    border-right: 1px solid #e5e5e5;
}

.navigation-item {
    font-size: 20px;
    font-family: "Elms Sans", sans-serif;
    padding: 12px 16px;
}